/* ----- Footer Styling ----- */

#main {

	padding:12px 0 3px;
	width: 400px;
	
	background: #2c3e40 ;
	margin-top: 5px;
	
	height:450px;
	margin-left:65%;
margin-right:10%;
}

#s{
	margin-top: 200px;
	height:25px;
	padding:2px 0 3px;
	width: 800px;
	margin-left:10%

}
#1
{
	margin-left:15%;
}
#our-courses{
	background:white;
	
}

#about{background:white;}
#student-speak{background:#FAF8B2;}
